<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Семьи</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div th:each="family : ${families}">
    <table>
        <tbody>
        <tr>
            <th scope="row"><a th:href="@{/families/{id}(id=${family.getId()})}"
                                th:text="${family.getLastName()}">user</a>
        </tbody>
    </table>

</div>

<br/>
<hr/>
<a href="/families/new">Добавить новую фамилию</a>

</body>
</html>