<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<p th:text="${'Last name: ' + family.getLastName()}">VALUE</p>

<a th:href="@{/families/{id}/edit(id=${family.getId()})}">Edit</a>
<br/>

<a th:href="@{'/families/' + ${family.getId()} + '/members' }">Список членов семьи</a>

<br/>

<form th:method="DELETE" th:action="@{/families/{id}(id=${family.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>