<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<form th:method="POST" th:action="@{/villages}" th:object="${village}">
    <label for="name">Enter name of village: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>