
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый человек</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<form th:method="POST" th:action="@{/people}" th:object="${person}">

    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>-->
    <br/>
    <label for="firstName">Введите имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div>-->
    <br/>
    <label for="middleName">Введите отчество: </label>
    <input type="text" th:field="*{middleName}" id="middleName"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">middle Name Error</div>-->
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>-->
    <br/>
    <label for="socialStatus">Введите социальный статус: </label>
    <input type="text" th:field="*{socialStatus}" id="socialStatus"/>
    <!--    <div style="color:red" th:if="${#fields.hasErrors('socialStatus')}" th:errors="*{socialStatus}">Social status Error</div>-->
    <br/>

    <label for="documents">Укажите документ, в котором упоминается данный человек:</label>
    <select id="documents" name="documents" multiple="multiple">
        <option th:each="document : ${allDocuments}" th:value="${document.id}" th:text="${document.title}"></option>
    </select>
    <br/><br/>

    <label for="families">Укажите из какой семьи данный человек:</label>
    <select id="families" name="families">
        <option th:each="family : ${allFamilies}" th:value="${family.id}" th:text="${family.lastName}"></option>
    </select>
    <br/><br/>

    <label for="villages">Укажите населенный пункт, в котором проживал данный человек:</label>
    <select id="villages" name="villages" multiple="multiple">
        <option th:each="village : ${allVillages}" th:value="${village.id}" th:text="${village.name}"></option>
    </select>
    <br/><br/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#documents').select2({
                multiple: true
            });

            $('#villages').select2({
                multiple: true
            });

            $('#families').select2({
                multiple: false
            });
        });
    </script>


<input type="submit" value="Создать"/>
</form>

</body>
</html>