<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<p th:text="${person.getLastName() + ' ' +person.getFirstName()+ ' ' + person.getMiddleName()}">VALUE</p>
<p th:text="${'Возраст: '+ person.getAge()}">VALUE</p>
<p th:text="${'Cоциальный статус: '+ person.getSocialStatus()}">VALUE</p>
<h4>Родители</h4>
<div th:if="${father != null}">
    <p>Отец:  <a th:href="@{/people/{id}(id=${father.getId()})}"
           th:text="${father.getLastName() + ' ' +father.getFirstName()+ ' ' + father.getMiddleName()}">user</a></p>
</div>
<div th:if="${person.father == null}">
    <p>Отец: <span>нет данных</span></p>
</div>
<div th:if="${mother != null}">
    <p>Мать: <a  th:href="@{/people/{id}(id=${mother.getId()})}"
            th:text="${mother.getLastName() + ' ' +mother.getFirstName()+ ' ' + mother.getMiddleName()}">VALUE</a></p>
</div>
<div th:if="${person.mother == null}">
    <p>Мать: <span>нет данных</span></p>
</div>
<h4>Список детей:</h4>
<div th:each="person : ${children}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getLastName() + ' ' +person.getFirstName()+ ' ' + person.getMiddleName()}">user</a>
</div><br/><br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактрровать данные человака</a><br/>


<a th:href="@{'/people/' + ${person.getId()} + '/documents' }">Список документов</a><br/>
<a th:href="@{'/people/' + ${person.getId()} + '/villages' }">Список деревень</a><br/>


<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>