<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Список документов</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div th:each="document : ${documents}">
    <table>
        <thead>
        <tr>
            <th>Название документа</th>
            <th scope="col">Год </th>
            <th scope="col">Тип документа</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><a th:href="@{/documents/{id}(id=${document.getId()})}"
                               th:text="${document.getTitle()}">user</a></th>
            <td th:text="${document.getYear()}">user</td>
            <td th:text="${document.getDocumentType()}">user</td>

        </tbody>
    </table>

</div>
<br/>
<a href="/documents/new">Добавить новый документ</a>

</body>
</html>