<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${document.getTitle() + ', ' + document.getYear()}">VALUE</p>
<p th:text="${'Type: ' + document.getDocumentType()}">VALUE</p>
<p th:text="${document.getId()}">VALUE</p>

<a th:href="@{/documents/{id}/edit(id=${document.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/documents/{id}(id=${document.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>